.header hr {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.header ul {
    list-style: none;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 18px;
    border-bottom: 1px solid grey;
}

.header ul li {
    display: inline;
    padding: 0px 15px;
}
