.onecolumn-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
  min-height: 100%;
  margin: auto;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

@media (min-width: 600px) {
  .content {
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media (min-width: 800px) {
  .onecolumn-container {
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header     header  header"
      "leftgutter content rightgutter"
      "footer     footer  footer";
  }
}
