.homepage-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas:
    "header"
    "primary"
    "secondary"
    "footer";
  min-height: 100%;
  margin: auto;
}

.header {
  grid-area: header;
}

.primary {
  grid-area: primary;
  border-radius: 2px;
  padding: 10px;
}

.secondary {
  grid-area: secondary;
  border-radius: 2px;
  padding: 10px;
}

.footer {
  grid-area: footer;
}

@media (min-width: 600px) {
  .homepage-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
      "header"
      "primary"
      "secondary"
      "footer";
  }
}

@media (min-width: 770px) {
  .homepage-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
      "header header"
      "primary secondary"
      "footer footer";
  }
}

@media (min-width: 1000px) {
  .homepage-container {
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header     header  header    header"
      "leftgutter primary secondary rightgutter"
      "footer     footer  footer    footer";
  }
}
